.image_fancybox{width:300px; 
	height:200px; 
	border; margin-top: 200px; 
	margin-left: 100px; 
	border: 5px solid white;}
body{
   	background-color: black;
   	}
a:visit{
   	color: black;
   	}
h1{
	color: white;
	text-align: center;
}